In [ ]:
import pandas as pd
import numpy as np

In [ ]:

datas = pd.date_range("2022-01-01",periods=31,freq='T')

In [ ]:
dataframe = pd.DataFrame({"data":datas})

In [ ]:
dataframe.head()

                 data
0 2022-01-01 00:00:00
1 2022-01-01 00:01:00
2 2022-01-01 00:02:00
3 2022-01-01 00:03:00
4 2022-01-01 00:04:00

In [ ]:
dataframe["dia"] = dataframe["data"].dt.date
dataframe["hora"] = dataframe["data"].dt.hour

In [ ]:
dataframe.head()

                 data         dia  hora
0 2022-01-01 00:00:00  2022-01-01     0
1 2022-01-01 00:01:00  2022-01-01     0
2 2022-01-01 00:02:00  2022-01-01     0
3 2022-01-01 00:03:00  2022-01-01     0
4 2022-01-01 00:04:00  2022-01-01     0

In [ ]:
dataframe["ano"] = dataframe["data"].dt.year
dataframe["mes"] = dataframe["data"].dt.month

In [ ]:
dataframe.head()

                 data         dia  hora   ano  mes
0 2022-01-01 00:00:00  2022-01-01     0  2022    1
1 2022-01-01 00:01:00  2022-01-01     0  2022    1
2 2022-01-01 00:02:00  2022-01-01     0  2022    1
3 2022-01-01 00:03:00  2022-01-01     0  2022    1
4 2022-01-01 00:04:00  2022-01-01     0  2022    1

In [ ]:
dataframe["trimestre"]=dataframe["data"].dt.quarter

In [ ]:
dataframe.head()

                 data         dia  hora   ano  mes  semestre  trimestre
0 2022-01-01 00:00:00  2022-01-01     0  2022    1         1          1
1 2022-01-01 00:01:00  2022-01-01     0  2022    1         1          1
2 2022-01-01 00:02:00  2022-01-01     0  2022    1         1          1
3 2022-01-01 00:03:00  2022-01-01     0  2022    1         1          1
4 2022-01-01 00:04:00  2022-01-01     0  2022    1         1          1

In [ ]:
dataframe['semestre'] = np.where(dataframe['trimestre'].isin([1,2]), 1, 2)

In [ ]:
dataframe.head()

                 data         dia  hora   ano  mes  semestre  trimestre
0 2022-01-01 00:00:00  2022-01-01     0  2022    1         1          1
1 2022-01-01 00:01:00  2022-01-01     0  2022    1         1          1
2 2022-01-01 00:02:00  2022-01-01     0  2022    1         1          1
3 2022-01-01 00:03:00  2022-01-01     0  2022    1         1          1
4 2022-01-01 00:04:00  2022-01-01     0  2022    1         1          1

In [ ]:
data_range = pd.date_range("2022-10-12", periods=365,freq="D")
dataframe = pd.DataFrame({"datas":data_range})

In [ ]:
dataframe.head()

       datas
0 2022-10-12
1 2022-10-13
2 2022-10-14
3 2022-10-15
4 2022-10-16

In [ ]:
dataframe["dia"] = dataframe["datas"].dt.day

In [ ]:
dataframe.head()

       datas  dia
0 2022-10-12   12
1 2022-10-13   13
2 2022-10-14   14
3 2022-10-15   15
4 2022-10-16   16

In [ ]:
dataframe["dia"]= dataframe["datas"].dt.day
dataframe["dia_semana"]= dataframe["datas"].dt.dayofweek

In [ ]:
dataframe.head()

       datas  dia  dia_semana
0 2022-10-12   12           2
1 2022-10-13   13           3
2 2022-10-14   14           4
3 2022-10-15   15           5
4 2022-10-16   16           6

In [ ]:
dataframe["nome_dia"]=dataframe["datas"].dt.day_name()

In [ ]:
dataframe.head()

       datas  dia  dia_semana   nome_dia
0 2022-10-12   12           2  Wednesday
1 2022-10-13   13           3   Thursday
2 2022-10-14   14           4     Friday
3 2022-10-15   15           5   Saturday
4 2022-10-16   16           6     Sunday

In [ ]:
dataframe["hora"] = dataframe["data"].dt.hour
dataframe["minuto"]= dataframe["data"].dt.minute
dataframe["segundo"]= dataframe["data"].dt.second

In [ ]:
dataframe.head()

                 data  hora  minuto  segundo
0 2022-01-01 00:00:00     0       0        0
1 2022-01-01 00:01:00     0       1        0
2 2022-01-01 00:02:00     0       2        0
3 2022-01-01 00:03:00     0       3        0
4 2022-01-01 00:04:00     0       4        0

In [ ]:
entrada =pd.date_range("2020-05-01",periods=31,freq="H")
saida = pd.date_range("2022-05-01",periods=31, freq="M")

dataframe =pd.DataFrame({"entrada":entrada,"saida":saida})

In [ ]:
dataframe.head()

              entrada      saida
0 2020-05-01 00:00:00 2022-05-31
1 2020-05-01 01:00:00 2022-06-30
2 2020-05-01 02:00:00 2022-07-31
3 2020-05-01 03:00:00 2022-08-31
4 2020-05-01 04:00:00 2022-09-30

In [ ]:
dataframe["diferenca"] = (dataframe["saida"]-dataframe["entrada"]).dt.days

In [ ]:
dataframe.head()

              entrada      saida  diferenca
0 2020-05-01 00:00:00 2022-05-31        760
1 2020-05-01 01:00:00 2022-06-30        789
2 2020-05-01 02:00:00 2022-07-31        820
3 2020-05-01 03:00:00 2022-08-31        851
4 2020-05-01 04:00:00 2022-09-30        881

In [ ]:
dataframe["diferenca_meses"] = (dataframe["saida"]-dataframe["entrada"])//np.timedelta64(1,"M")

In [ ]:
dataframe.head()

              entrada      saida  diferenca  diferenca_meses
0 2020-05-01 00:00:00 2022-05-31        760               24
1 2020-05-01 01:00:00 2022-06-30        789               25
2 2020-05-01 02:00:00 2022-07-31        820               26
3 2020-05-01 03:00:00 2022-08-31        851               27
4 2020-05-01 04:00:00 2022-09-30        881               28

In [ ]:
dataframe["diferencao_segundos"] = (dataframe["saida"]-dataframe["entrada"])//np.timedelta64(1,"s")
dataframe["diferencao_minutos"]= (dataframe["saida"]-dataframe["entrada"])//np.timedelta64(1,"m")

In [ ]:
dataframe.head()

              entrada      saida  ...  diferencao_segundos  diferencao_minutos
0 2020-05-01 00:00:00 2022-05-31  ...             65664000             1094400
1 2020-05-01 01:00:00 2022-06-30  ...             68252400             1137540
2 2020-05-01 02:00:00 2022-07-31  ...             70927200             1182120
3 2020-05-01 03:00:00 2022-08-31  ...             73602000             1226700
4 2020-05-01 04:00:00 2022-09-30  ...             76190400             1269840

[5 rows x 6 columns]

In [ ]:
tempo_1 = pd.Series(pd.date_range(start="2022-01-01 09:00",freq="H", periods=5, tz= "America/Sao_Paulo"))

tempo_2 = pd.Series(pd.date_range(start="2022-01-01 09:00",freq="H", periods=5,tz="US/Central"))

aux_1 = pd.concat([tempo_1,tempo_2],axis=0)

aux_2 = pd.concat([pd.Series(
    pd.date_range(start="2022-01-01 12:00",freq="H",periods=5,tz="Europe/Berlin")),
    pd.Series(
        pd.date_range(
            start="2022-03-01 13:00",freq="H", periods=5,
            tz="US/Central"))
    ],axis=0)

timezone= pd.DataFrame(index=range(0,10))
timezone["data_1"]= aux_1.values
timezone["data_2"]= aux_2.values

In [ ]:
timezone.head(10)

                      data_1                     data_2
0  2022-01-01 09:00:00-02:00  2022-01-01 12:00:00+01:00
1  2022-01-01 10:00:00-02:00  2022-01-01 13:00:00+01:00
2  2022-01-01 11:00:00-02:00  2022-01-01 14:00:00+01:00
3  2022-01-01 12:00:00-02:00  2022-01-01 15:00:00+01:00
4  2022-01-01 13:00:00-02:00  2022-01-01 16:00:00+01:00
5  2022-01-01 09:00:00-06:00  2022-03-01 13:00:00-06:00
6  2022-01-01 10:00:00-06:00  2022-03-01 14:00:00-06:00
7  2022-01-01 11:00:00-06:00  2022-03-01 15:00:00-06:00
8  2022-01-01 12:00:00-06:00  2022-03-01 16:00:00-06:00
9  2022-01-01 13:00:00-06:00  2022-03-01 17:00:00-06:00

In [ ]:
timezone["tempo1_utc"]= pd.to_datetime(timezone["data_1"],utc=True)
timezone["tempo2_utc"] = pd.to_datetime(timezone["data_2"], utc=True)

In [ ]:
timezone.head(10)

                      data_1  ...                tempo2_utc
0  2022-01-01 09:00:00-02:00  ... 2022-01-01 11:00:00+00:00
1  2022-01-01 10:00:00-02:00  ... 2022-01-01 12:00:00+00:00
2  2022-01-01 11:00:00-02:00  ... 2022-01-01 13:00:00+00:00
3  2022-01-01 12:00:00-02:00  ... 2022-01-01 14:00:00+00:00
4  2022-01-01 13:00:00-02:00  ... 2022-01-01 15:00:00+00:00
5  2022-01-01 09:00:00-06:00  ... 2022-03-01 19:00:00+00:00
6  2022-01-01 10:00:00-06:00  ... 2022-03-01 20:00:00+00:00
7  2022-01-01 11:00:00-06:00  ... 2022-03-01 21:00:00+00:00
8  2022-01-01 12:00:00-06:00  ... 2022-03-01 22:00:00+00:00
9  2022-01-01 13:00:00-06:00  ... 2022-03-01 23:00:00+00:00

[10 rows x 5 columns]