In [66]:
!pip install feature-engine

Requirement already satisfied: feature-engine in /usr/local/lib/python3.10/dist-packages (1.8.0)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.10/dist-packages (from feature-engine) (1.26.4)
Requirement already satisfied: pandas>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from feature-engine) (2.2.2)
Requirement already satisfied: scikit-learn>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from feature-engine) (1.5.1)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from feature-engine) (1.13.1)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from feature-engine) (0.14.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.2.0->feature-engine) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.2.0->feature-engine) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.2.0->feature-engine) (2024.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.0->feature-engine) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.0->feature-engine) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.11.1->feature-engine) (24.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels>=0.11.1->feature-engine) (1.16.0)

In [67]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.impute import SimpleImputer
from feature_engine.imputation import MeanMedianImputer
from sklearn.impute import SimpleImputer
from feature_engine.imputation import CategoricalImputer

In [3]:
dataframe = pd.read_csv("titanic.csv")

In [8]:
dataframe.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
dataframe.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
dataframe.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [43]:
X_treino, X_teste, y_treino, y_teste = train_test_split(dataframe.drop("Survived",axis=1),dataframe["Survived"],test_size=0.3,random_state=0)

## Substituição dos valores ausentes em conjuntos de dados numércios

In [25]:
numericos_treino =X_treino[["PassengerId","Pclass","Age","SibSp","Parch","Fare"]]
numericos_teste =X_teste[["PassengerId","Pclass","Age","SibSp","Parch","Fare"]]

In [26]:
imputer = SimpleImputer(strategy="mean")

In [14]:
imputer.fit(numericos_treino)

SimpleImputer()

In [15]:
imputer.statistics_

array([4.47678973e+02, 2.28731942e+00, 2.99153386e+01, 5.31300161e-01,
       3.93258427e-01, 3.24582726e+01])

In [16]:
numericos_treino = imputer.transform(numericos_treino)
numericos_teste = imputer.transform(numericos_teste)

In [18]:
numericos_treino = pd.DataFrame(numericos_treino,columns=["PassengerId","Pclass","Age","SibSp","Parch","Fare"])
numericos_teste = pd.DataFrame(numericos_teste,columns=["PassengerId","Pclass","Age","SibSp","Parch","Fare"])

In [19]:
numericos_treino.head()

   PassengerId  Pclass        Age  SibSp  Parch     Fare
0        858.0     1.0  51.000000    0.0    0.0  26.5500
1         53.0     1.0  49.000000    1.0    0.0  76.7292
2        387.0     3.0   1.000000    5.0    2.0  46.9000
3        125.0     1.0  54.000000    0.0    1.0  77.2875
4        579.0     3.0  29.915339    1.0    0.0  14.4583

In [20]:
numericos_teste.head()

   PassengerId  Pclass        Age  SibSp  Parch      Fare
0        496.0     3.0  29.915339    0.0    0.0   14.4583
1        649.0     3.0  29.915339    0.0    0.0    7.5500
2        279.0     3.0   7.000000    4.0    1.0   29.1250
3         32.0     1.0  29.915339    1.0    0.0  146.5208
4        256.0     3.0  29.000000    0.0    2.0   15.2458

In [21]:
numericos_treino.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [22]:
numericos_teste.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

## Substituindo os valores ausentes pela mediana utilizando a biblioteca scikit-learn

In [27]:
numericos_treino.isnull().sum()

PassengerId      0
Pclass           0
Age            121
SibSp            0
Parch            0
Fare             0
dtype: int64

In [28]:
numericos_teste.isnull().sum()

PassengerId     0
Pclass          0
Age            56
SibSp           0
Parch           0
Fare            0
dtype: int64

In [29]:
imputer = SimpleImputer(strategy="median")

In [30]:
imputer.fit(numericos_treino)
numericos_treino = imputer.transform(numericos_treino)
numericos_teste = imputer.transform(numericos_teste)

In [31]:
numericos_treino = pd.DataFrame(numericos_treino,columns=["PassengerId","Pclass","Age","SibSp","Parch","Fare"])
numericos_teste = pd.DataFrame(numericos_teste,columns=["PassengerId","Pclass","Age","SibSp","Parch","Fare"])

## Substituição de valores ausentes pela média utilizando a biblioteca feature-engine

In [34]:
imputer = MeanMedianImputer(imputation_method="mean",variables=['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'])

In [35]:
imputer.fit(numericos_treino)

MeanMedianImputer(imputation_method='mean',
                  variables=['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch',
                             'Fare'])

In [36]:
imputer.imputer_dict_

{'PassengerId': 447.6789727126806,
 'Pclass': 2.287319422150883,
 'Age': 29.73756019261637,
 'SibSp': 0.5313001605136437,
 'Parch': 0.39325842696629215,
 'Fare': 32.45827255216693}

In [37]:
numericos_treino = imputer.transform(numericos_treino)
numericos_teste = imputer.transform(numericos_teste)

## Substituição dos valores ausentes pela mediana utilizando a biblioteca feature-engine

In [38]:
imputer_mediana = MeanMedianImputer(imputation_method="median",variables=["PassengerId","Pclass","Age","SibSp","Fare"])

In [39]:
imputer_mediana.fit(numericos_treino)
numericos_treino = imputer_mediana.transform(numericos_treino)
numericos_teste = imputer_mediana.transform(numericos_teste)

In [41]:
imputer_mediana.imputer_dict_

{'PassengerId': 449.0, 'Pclass': 3.0, 'Age': 29.0, 'SibSp': 0.0, 'Fare': 15.0}

In [42]:
numericos_teste.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

##Substituindo valores ausentes de um conjunto de dados categóricos utilizando a biblioteca scikit-learn

In [44]:
X_treino.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            121
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          471
Embarked         2
dtype: int64

In [45]:
X_teste.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             56
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          216
Embarked         0
dtype: int64

In [46]:
X_treino.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [47]:
X_treino.drop(columns=["Cabin"],inplace=True)
X_teste.drop(columns=["Cabin"],inplace=True)

In [49]:
X_treino["Sex"].unique()

array(['male', 'female'], dtype=object)

In [50]:
X_teste["Sex"].unique()

array(['male', 'female'], dtype=object)

In [51]:
sex_treino= X_treino["Sex"]
sex_teste = X_teste["Sex"]

In [52]:
sex_treino.head()

857      male
52     female
386      male
124      male
578    female
Name: Sex, dtype: object

In [53]:
sex_teste.head()

495      male
648      male
278      male
31     female
255    female
Name: Sex, dtype: object

In [54]:
imputer_freq = SimpleImputer(strategy="most_frequent")

In [55]:
imputer_freq.fit(sex_treino.to_frame())

SimpleImputer(strategy='most_frequent')

In [56]:
sex_treino = imputer_freq.transform(sex_treino.to_frame())
sex_teste = imputer_freq.transform(sex_teste.to_frame())

In [58]:
sex_treino =pd.DataFrame(sex_treino,columns=["Sex"])
sex_teste =pd.DataFrame(sex_teste,columns=["Sex"])

In [59]:
sex_treino.isnull().sum()

Sex    0
dtype: int64

In [60]:
sex_teste.isnull().sum()

Sex    0
dtype: int64

In [62]:
ft_imputer = CategoricalImputer(imputation_method="frequent",variables=["Sex"])

In [63]:
ft_imputer.fit(X_treino)

CategoricalImputer(imputation_method='frequent', variables=['Sex'])

In [64]:
ft_imputer.imputer_dict_

{'Sex': 'male'}

In [65]:
X_treino = ft_imputer.transform(X_treino)
X_teste= ft_imputer.transform(X_teste)